@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* public style */
:root{
    --primary-color:#009961;
    --second-color:#333;
    --animate-delay: 1s;
    --animate-duration: 2s;

}
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    /* background-color: #f7f7f7; */
    overflow-x: hidden;
    position: relative;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.title-content{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.title-content h2{
    color: var(--white);
    font-weight:700;
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.title-center
{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.title-center span,.title span{
    display: inline-block;
    font-size:1.1rem;
    font-weight:500;
    color:var(--primary-color);
    text-transform:uppercase;
    line-height:1.5;

}
.title-center h2,.title h2{
    font-weight: 700;
    font-size: 2.7rem;
    position: relative;
    padding-bottom:20px;
    margin-bottom:40px;
}
.title-center h2::before,.title h2::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
   
    background-color: var(--primary-color);
}
.title-center h2:before{
    transform:translate(-50%);
    -webkit-transform:translate(-50%);
    -moz-transform:translate(-50%);
    -ms-transform:translate(-50%);
    -o-transform:translate(-50%);
}
.title-center h2::before{
    bottom:-10%;
    left:50%;
}
.title h2::before{
    bottom: 0%;
    left: 0%;
}

.btn-custom{
    background-color:var(--primary-color);
    color:var(--white);
    padding:10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn-custom::before{
    content: '';
    position: absolute;
    width: 140%;
    height: 480%;
    background: var(--white);
    top: 0;
    left: 0;
    transform: translate(-100%, -25%) rotate(45deg);
    -webkit-transform: translate(-100%, -25%) rotate(45deg);
    -moz-transform: translate(-100%, -25%) rotate(45deg);
    -ms-transform: translate(-100%, -25%) rotate(45deg);
    -o-transform: translate(-100%, -25%) rotate(45deg);
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    z-index: -1;
    
}
.btn-custom:hover{
    color: var(--primary-color);
}
.btn-custom:hover::before
{
    transform: translate(-9%, -25%) rotate(45deg);
    -webkit-transform: translate(-9%, -25%) rotate(45deg);
    -moz-transform: translate(-9%, -25%) rotate(45deg);
    -ms-transform: translate(-9%, -25%) rotate(45deg);
    -o-transform: translate(-9%, -25%) rotate(45deg);
}
.owl-dots{
    padding-top: 1rem;
    text-align: center;
}
 .owl-dots .owl-dot{
    width: 20px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--primary-color) !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.owl-dots .owl-dot.active{
    width: 40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

/* --------public style---------------- */

.lodaingPage{
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 9999999999;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    width: 80px;
    height: 80px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
/* -------navbar start---------------- */
.navbar{
    padding: 1.2rem 2.5rem;
    background-color: #fff;
    z-index: 999;
    position: sticky;
    top:0;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    
}
.navbar.scrolled{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%);
    top:-10px;
}
.navbar-brand >img{
    max-width: 100%;
    max-height:40px;
}
.navbar-nav{
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
}
.navbar-nav .nav-item{
    position: relative;
    
}

.navbar-nav .nav-item::after,.navbar-nav .nav-item::before{
    position: absolute;
    top: 7px;
    visibility: hidden;
    opacity: 0;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
}

.navbar-nav .nav-item::after{
    content: "[";
    left: -10px;
  
}
.navbar-nav .nav-item::before{
    content: "]";
    right: -10px;
}
.navbar-nav .nav-item:hover:after,.navbar-nav .nav-item:hover:before,.navbar-nav .nav-item:hover a{
    color: var(--primary-color);
    opacity:1;
    visibility: visible;
}
.navbar-nav .nav-item:hover:after
{
    left: -5px;
}

.navbar-nav .nav-item:hover:before
{
    right: -5px;
}
.navbar-nav .nav-item>a{
    color:var(--second-color);
    text-transform: uppercase;
    font-weight:700  
}

.navbar-nav .nav-item.active>a,.navbar-nav .nav-item.active:after,.navbar-nav .nav-item.active:before{
    visibility: visible;
    opacity:1;
    color:var(--primary-color);    
}
.navbar-nav .nav-item.active:after{
    left: -5px;
}
.navbar-nav .nav-item.active:before{
    right: -5px;
}
.navbar-nav .nav-item .drop-down-menu{
    position: absolute;
    top: 150%;
    left: 0;
    width: 170px;
    background-color: var(--primary-color);
    padding:20px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    box-shadow: 0px 7px 7px 0px rgb(48 51 50 / 9%);
    transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transform-origin: top left;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    opacity:0;
    visibility: hidden;
}
.navbar-nav .nav-item:hover .drop-down-menu{
    opacity:1;
    visibility: visible;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
.navbar-nav .nav-item .drop-down-menu .drop-item{  
}
.navbar-nav .nav-item .drop-down-menu .drop-item .nav-link
{

    color: var(--white);

}
.navbar-nav .nav-item .drop-down-menu .drop-item:hover .nav-link{
    text-decoration: underline;
}
/* -------navbar end---------------- */
/* -------header start---------------- */

header{
    background-color:var(--white);  
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
}
header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 22%;
    left: 0;
    background-image: url("../img/leaf2.png");
    background-size: 15%;
    background-repeat: no-repeat;
    animation: leaf-img-animation 3s ease-in-out infinite alternate;
    -webkit-animation: leaf-img-animation 3s ease-in-out infinite alternate;
}
@keyframes leaf-img-animation {
    0%{
        transform:translateY(30px)    ;
        -webkit-transform:translateY(30px)    ;
        -moz-transform:translateY(30px)    ;
        -ms-transform:translateY(30px)    ;
        -o-transform:translateY(30px)    ;
}
    100%{
        transform:translateY(0)    ;
        -webkit-transform:translateY(0)    ;
        -moz-transform:translateY(0)    ;
        -ms-transform:translateY(0)    ;
        -o-transform:translateY(0)    ;
}
}
header .container>.row{
    justify-content: space-between;
    align-items: center;
}
header .container>.row .col-lg-5 .content {
    width: 100%;
}
header .container>.row .col-lg-5 .content>h3{
    font-size:2rem;
    font-weight:500;
    text-transform:uppercase;
}

header .container>.row .col-lg-5 .content>h1{
    font-size:2.5rem;
    font-weight:700;
    text-transform:uppercase;
    margin: 20px 0;
}
header .container>.row .col-lg-5 .content>h1>span{
    color: var(--primary-color);
}
header .container>.row .col-lg-6 .img-box{
    position:relative;
    width: 100%;
}
header .container>.row .col-lg-6 .img-box::before{
    content: "";
    position: absolute;
    bottom:0;
    left: 30%;
    width: 39%;
    height: 85%;
    background: url("../img/sl_5.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 333;
    animation: girl-img-animation 2s linear infinite alternate;
    -webkit-animation: girl-img-animation 2s linear infinite alternate;
}
@keyframes girl-img-animation {
    0%{
        transform:translateY(2%);
        -webkit-transform:translateY(2%);
        -moz-transform:translateY(2%);
        -ms-transform:translateY(2%);
        -o-transform:translateY(2%);
}
    100%{
        transform:translateY(7%);
        -webkit-transform:translateY(7%);
        -moz-transform:translateY(7%);
        -ms-transform:translateY(7%);
        -o-transform:translateY(7%);
}   
}
header .container>.row .col-lg-6 .img-box>.main-img{
    width: 100%;
    object-fit: cover;
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
}
header .container>.row .col-lg-6 .img-box>.plant-img-1{
    width: 75px;
    position: absolute;
    top: 19px;
    left: 29px;
}
header .container>.row .col-lg-6 .img-box>.plant-img-2{
    width: 127px;
    position: absolute;
    top: 19px;
    left: 120px;
}
header .container>.row .col-lg-6 .img-box>.stand-img{
    width: 219px;
    position: absolute;
    top: 146px;
    left: 15px;
}
header .container>.row .col-lg-6 .img-box>.plant-img-3{
    position: absolute;
    right: 0px;
    top: -42px;
    width: 174px;
    object-fit: cover;
    animation:plant-img-3 5s infinite alternate;
    -webkit-animation:plant-img-3 5s infinite alternate;
}
@keyframes  plant-img-3{
    0%{
        transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(50deg);
        -webkit-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(50deg);
        -moz-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(50deg);
        -ms-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(50deg);
        -o-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(50deg);
    }
    100%{
      transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(-50deg);
      -webkit-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(-50deg);
      -moz-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(-50deg);
      -ms-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(-50deg);
      -o-transform: perspective(1000px) translate3d(0px ,0px ,0px ) rotateY(-50deg);
    }
}


/* -------header end---------------- */
/* -------Works section start---------------- */
.Works{
    padding:2rem;
    background-color: var(--white);
    
}
.Works .card{
    padding: 2rem 0;
    background: var(--white);
    align-items: center;
    text-align: center;
    border:0;
    border-radius: 10px;
    padding: 35px 22px 45px 22px;
    box-shadow: 0px 0px 150px 0px #EEEEEE;
    transition:background 0.4s ease, transform 0.4s linear,border-radius 0.4s ease;
    -webkit-transition:background 0.4s ease, transform 0.4s linear,border-radius 0.4s ease;
    -moz-transition:background 0.4s ease, transform 0.4s linear,border-radius 0.4s ease;
    -ms-transition:background 0.4s ease, transform 0.4s linear,border-radius 0.4s ease;
    -o-transition:background 0.4s ease, transform 0.4s linear,border-radius 0.4s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom:30px;
}
.Works .card:hover{
    background-color: var(--primary-color);
    
    transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
}

.Works .card .card-img-top{
    max-width: 170px;
}
.Works .card .card-body{
   
}
.Works .card:hover .card-body{
    color: var(--white)
}
.Works .card .card-title{
    font-weight: 700;
    font-size:18px;
}
.Works .card .card-text{
    font-weight: 600;
    line-height:1.6;
}
/* -------Works end---------------- */
/* -------About start---------------- */
.about{
    background: var(--white);
    padding:1rem 1rem 4rem;
}
.about .container-fluid .row{
    align-items: center;
    justify-content: space-around;
}
.about .container-fluid .row .col-lg-6 .about-img{
    width: 100%;
}
.about .container-fluid .row .col-lg-6 .about-img>img{
    width: 100%;
    object-fit: cover;
}
.about .container-fluid .row .col-lg-6 .content{
    width: 100%;
    
}
.about .container-fluid .row .col-lg-6 .content .content-title {
    position: relative;
    margin-bottom:2rem
}
.about .container-fluid .row .col-lg-6 .content .content-title::after{
    content: '';
    position: absolute;
    display: block;
    width: 10%;
    height: 3%;
    background: var(--primary-color);

}

.about .container-fluid .row .col-lg-6 .content .content-title>span{
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 10px;
    color: var(--primary-color);
}
.about .container-fluid .row .col-lg-6 .content .content-title>h2{
    font-weight: 700;
    margin-bottom: 20px;
}


.about .container-fluid .row .col-lg-6 .content .description>p{
    font-size: 0.9rem;
    color:var(--second-color)
}
.about .container-fluid .row .col-lg-6 .content .description .row{
    padding: 0 1rem;
}
.about .container-fluid .row .col-lg-6 .content .description .row{
    align-items: flex-start;
}
.about .container-fluid .row .col-lg-6 .content .description .row .col-lg ul{
    margin: 0;
}
.about .container-fluid .row .col-lg-6 .content .description .row .col-lg ul li{
    padding-bottom: 1rem;
}
.about .container-fluid .row .col-lg-6 .content .description .row .col-lg ul li i{
    margin-right: 10px;
    color: var(--primary-color);
}
/* -------About end---------------- */
/* -------About end---------------- */
.contact{
    padding: 82px 0px 178px 0px;
    background:url("../img/call-to-action-2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* -------About end---------------- */
/* -------counter-up start---------------- */
.counter-up{
    margin-top: -8%;    
    padding: 0 0 2rem 0;
}
.counter-up  #counters_1{
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0px 14px 30px 0px rgb(0 0 0 / 7%);
    padding: 4rem 2rem;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.counter-up  #counters_1 .row .col-lg-3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.counter-up  #counters_1 .row .col-lg-3 span,.counter-up  #counters_1 .row .col-lg-3 .counter
{
    font-size: 3.75rem;
    font-weight:600;
    color:var(--primary-color);
}
.counter-up  #counters_1 .row .col-lg-3 p
{
    width:100%;
    font-size: 1.25rem;
    font-weight:700;
    color:var(--second-color);
}


/* -------counter-up end---------------- */
/* -------service start---------------- */

.service{
    padding:4rem 0;
    background-color:var(--white)
}
.service .container .row{
    padding: 2rem 0;
}
.service .container .row .nav{
    gap: 0.5rem;
}
.service .container .row .nav .nav-item {
    box-shadow: 0 0 30px rgb(228 219 219 / 50%);
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    border-bottom: 3px solid transparent;
    margin-bottom: 15px;
}
.service .container .row .nav .nav-item.active{
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -o-transform:translateY(-10px);
}
.service .container .row .nav .nav-item:hover,.service .container .row .nav .nav-item.active{
    border-bottom: 3px solid var(--primary-color);
}
.service .container .row .nav .nav-item a{
    padding: 30px 20px;
    color:var(--second-color);
    font-weight: 500;
    font-size:0.9rem
}
.service .container .row .nav .nav-item  a i{
    display: block;
    margin-bottom: 10px;
    font-size: 2rem;
    color:var(--primary-color)
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: unset;
}
.service .container .row .tab-pane .img-box{
    margin-bottom:1rem;
}
.service .container .row .tab-pane .col-md-6 img{
    object-fit: cover;
    width: 100%;
}
.service .container .row .tab-pane .desc{
    padding: 0 1rem;
    margin-bottom:2rem;
}
.service .container .row .tab-pane .col-md-6 .content h3{
    font-size:2.5rem;
    font-weight:700;
    padding:1.3rem 0;
}
.service .container .row .tab-pane .col-md-6.content p{
    font-size:0.9rem;
 }
 .service .container .row .tab-pane .col-md-6.content ul{
    margin-bottom: 2rem;
 }
.service .container .row .tab-pane .col-md-6 .content ul li{
    margin-bottom: 1rem;
    font-size: .9rem;
 }
 .service .container .row .tab-pane .col-md-6 .content ul li i{
     margin-right:.5rem;
     color: var(--primary-color);
 }
 .service .container .row .fade:not(.active){
    display: none;
 }

/* -------service end---------------- */
/* -------project start---------------- */
.project{
    background-color: #FAFAFA;
    padding: 7rem 1rem 1rem;
}
.project .container-fluid .box{
    position: relative;
    padding-bottom: 2rem;
}
.project .container-fluid .box .box-img {
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 auto;
    cursor:pointer;
}
.project .container-fluid .box .box-img img{
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.project .container-fluid .box:hover .box-img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.project .container-fluid .box .content{
    background: var(--white);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.07);
    padding:1.5rem 0 0 ;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 10%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.project .container-fluid .box .content h4{
    font-weight: 700;
    cursor: pointer;
    margin-top: 1%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.project .container-fluid .box .content p{
    line-height: 26px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    margin-top: -10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.project .container-fluid .box .content p a{
    color: var(--second-color);
}
.project .container-fluid .box:hover .content h4{
    color:var(--primary-color);
}
.project .container-fluid .box:hover  .content p{
    opacity: 1;
    margin-top: 0px;
}
.project .container-fluid .box:hover  .content p a{
   text-decoration: none;
}
.project .container-fluid .owl-nav{
    display: none;
}

/* -------project end---------------- */
/* -------request start---------------- */
.request{
    padding: 4rem 0;
    background-color: #FAFAFA;
}

.request .img-box{
    align-self: center;
}
.request .request-img{
    width:100%;
}
.request .request-img img{
    width: 100%;
    object-fit: cover;
}
.request .desc .title{
    padding:2rem 0 0 0;
}
.request .desc .form .form-control{
    box-shadow: 0 0 35px #e4eae4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: 0;
    background-color: transparent;
    color: #646464;
    padding:1rem;
}
.request .desc .form .form-control:focus{
    border: 2px solid #000;
}
.request .desc .form .btn-custom
{
    width: 100%;
}
/* -------request end---------------- */
/* -------team start---------------- */
.team{
    padding: 2rem 0;
    overflow: hidden;
}
.team .owl-carousel{
    padding-top: 2rem;
}
.team .owl-carousel .owl-nav ,.team .owl-carousel .owl-dots{
    display: none;
}
.team .team-item .team-img{
    width: 100%;
    position: relative;
}

.team .team-item{
    width: 90%;
    margin: 0 auto 10px ;
    overflow: hidden;
    position: relative;  
    height: 453px;
    
}
.team .team-item .team-img img{
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.team .team-item:hover .team-img img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.team .team-item .desc{
    width:100%;
    /* height: 100px; */
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:var(--primary-color);
    text-align: center;
    position: relative;
    transition:all .4s  ease;
    -webkit-transition:all .4s  ease;
    -moz-transition:all .4s  ease;
    -ms-transition:all .4s  ease;
    -o-transition:all .4s  ease;
    padding: 5% 1% 5%  ;
    
}
.team .team-item:hover .desc
{
    box-shadow: 0 0 150px #eee;
    bottom: 40px;
    padding: 5% 1% 15%  ;
    
}

.team .team-item .desc a{
    display: inline-block;
    line-height:2rem;
    text-decoration: none;
    color:var(--white);
    font-weight: 700;
    font-size: 1.2rem;
}
.team .team-item .desc p{
    margin-bottom: 0;
    font-weight: 500;
    font-family: "Mukta Mahee";
    color:var(--white);
}
.team .team-item .desc .social-icon{
    
    margin-top: -10px;
    opacity: 0;
    visibility: hidden;
    transform:scale(0.5);
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
    transition:all .4s  ease;
    -webkit-transition:all .4s  ease;
    -moz-transition:all .4s  ease;
    -ms-transition:all .4s  ease;
    -o-transition:all .4s  ease;
    transform-origin: bottom center;
}
.team .team-item:hover .desc .social-icon{
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    
}
/* -------team end---------------- */
/* -------tastimonials start---------------- */
.tastimonials{
    background: url("../img/test_2.jpg");
    background-size: 125%;
    padding: 6rem 0;
    background-position: bottom;
    background-repeat: no-repeat;
    
}
.tastimonials .tastimonials-item{
    width:60%;
    margin: 0 auto;
    text-align: center;
}
.tastimonials .tastimonials-item .tastimonials-img{
   
}
.tastimonials .tastimonials-item .tastimonials-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
}
.tastimonials .tastimonials-item p{

    font-size:1.3rem;
    font-weight:500;
    line-height:1.7;
    padding: 40px 0px 0px 0px;
    background-color: #02010100;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    color: #505050;
    margin-bottom: 2rem;    

}
.tastimonials .tastimonials-item .tastimonials-content h4{
    font-weight: 700;
}
.tastimonials .tastimonials-item .tastimonials-content span{
    font-size: 1.5rem;
    font-weight: 400;
    color: #505050;

}
.tastimonials  .owl-nav{
    display: none;
}
.tastimonials  .owl-dots .owl-dot
{
    width: 20px;
    height: 10px;
    border:1px solid var(--primary-color);
    background-color:transparent !important;
}
.tastimonials  .owl-dots .owl-dot:hover{
    background-color:var(--primary-color)  !important;  
}
.tastimonials .owl-dots .owl-dot.active{
    background-color:var(--primary-color)  !important;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

/* -------tastimonials end---------------- */
/* -------blog start---------------- */
.blog {
    background-color: #FAFAFA;
    padding: 5rem 0;
}
.blog .blog-item{
    width:95%;
    margin: 0 auto;
    cursor: pointer;
}
.blog .blog-item .blog-img-box{
    position: relative;
}
.blog .blog-item .blog-img-box img{
    object-fit: cover;
}
.blog .blog-item .blog-img-box .date-box{
    position: absolute;
    bottom: 0px;
    left: 0;
    background: var(--primary-color);
    color:var(--white);
    padding: 17px 12px 17px;
    border-radius: 0 5px 0 0;
    font-size: 14px;
    -webkit-border-radius: 0 5px;
    -moz-border-radius: 0 5px;
    -ms-border-radius: 0 5px;
    -o-border-radius: 0 5px;
}
.blog .blog-item  .blog-content
{
    border-radius: 0 0 4px 4px;
    padding: 40px 35px 40px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.05);
    background: var(--white);
}
.blog .blog-item  .blog-content h3{
    margin-bottom: 1rem;
}
.blog .blog-item  .blog-content h3 a{
    color: #282828;
    transition:color .4s ease;
    -webkit-transition:color .4s ease;
    -moz-transition:color .4s ease;
    -ms-transition:color .4s ease;
    -o-transition:color .4s ease;
}
.blog .blog-item  .blog-content h3:hover a{
    text-decoration: none;
    color: var(--primary-color);
    
}
.blog .blog-item  .blog-content p{
    margin-bottom: 1rem;
}
.blog  .owl-nav{
    display: none;
}
.blog  .owl-dots .owl-dot
{
    display: none;
}
/* -------blog end---------------- */
/* -------brand start---------------- */
.brand{
    padding: 3rem 0;
}
.brand .brand-item{
    width:95%;
    margin: 0 auto;
}
.brand .brand-item .brand-img{
    position: relative;
    overflow: hidden;
    height: 100px;
    display: flex;
    justify-content:center;
}
.brand .brand-item .brand-img .img-top,.brand .brand-item .brand-img .img-bottom{
    position: absolute;
    transition: top .4s  ease-in-out;
    -webkit-transition: top .4s  ease-in-out;
    -moz-transition: top .4s  ease-in-out;
    -ms-transition: top .4s  ease-in-out;
    -o-transition: top .4s  ease-in-out;
}
.brand .brand-item .brand-img .img-top{
    top: -120px;
  
}
.brand .brand-item .brand-img .img-bottom{
    position: absolute;
    top: 0px;
}
.brand .brand-item .brand-img:hover .img-top{
    top: 0px;
}
.brand .brand-item .brand-img:hover .img-bottom{
    top: 120px;
}
.brand  .owl-nav{
    display: none;
}
.brand  .owl-dots .owl-dot
{
    display: none;
}

/* -------brand end---------------- */

/* -------footer start---------------- */
footer{
    padding: 4rem 0 0rem;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
footer .title h2{
    margin-bottom: 1.5rem;
}
footer .footer-top .container .row{
    align-items: baseline;
}
footer .footer-top .container .row .col-lg-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom:1rem
}
footer  .logo-img{
    max-width: 80%;
    margin-bottom: 2rem;
}
footer .logo-img img{
    width: 100%;
    object-fit: cover;
}
footer  .social-icon{
    display: inline-flex;
    justify-content: space-evenly;
    width: 40%;
    color: var(--white);
    margin-bottom: 1.5rem;
}
footer  .social-icon a{
    color: var(--white); 
}
footer .title h2 {
    color: var(--white);
    font-size: 1.2rem;

}
footer .col-lg{
    padding: 0;
}
footer .col-lg ul li{
    color: var(--white);
    margin-bottom: 1.2rem;
    font-size: .9rem;
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
}
footer .col-lg ul li:last-of-type{
    margin-bottom: 1.5rem;
}
footer .col-lg ul li i{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 0.6rem;
}
footer .footer-top .container .row .col-lg .card{
    background-color: transparent;
    border: 0;
}
footer .footer-top .container .row .col-lg .card .row{
    align-items: flex-start;
}
footer .footer-top .container .row .col-lg .card .row .col-4{
    align-self: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}
footer .footer-top .container .row .col-lg .card .row .col-4 .card-img{
    width: 100%;
}
footer .footer-top .container .row .col-lg .card .row .col-4 .card-img img{
    width:100%;
    object-fit: cover;   
}
footer .footer-top .container .row .col-lg .card .row .col-6 .card-body{
    color:var(--white)
}
footer .footer-top .container .row .col-lg .card .row .col-6 .card-body .card-title{
    font-size: .7rem;
}
footer .footer-top .container .row .col-lg .card .row .col-6 .card-body .card-text{
    font-size: .6rem;
}
footer .footer-top .container .row .col-lg .card .row  .col-6  .card-body .card-text i{
    color:var(--primary-color);
}
footer .footer-top .container .row .col-lg p{
    color:var(--white);
}
footer .footer-top .container .row .col-lg form{
    margin-top: 3rem;
}
footer .footer-top .container .row .col-lg form .form-group{
    position: relative;

}
footer .footer-top .container .row .col-lg form .form-group input{
    padding: 10px 65px 10px 10px;
    height: unset;
}
footer .footer-top .container .row .col-lg form .form-group button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    border-radius: 0 5px 4px 0;
    color:var(--white);
    background-color: var(--primary-color);

}
footer .footer-bottom
{
    background-color: rgb(2, 40, 26);
    padding: 20px 0 10px;
    text-align: center;
    color:var(--white);

}
footer .footer-bottom p a{
    color: var(--primary-color)
}
/* -------footer end---------------- */
.btn-scroll-to-up{
    height: 10px;
    width: 10px;
    position: fixed;
    top: -100%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white);
    padding: 20px;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    z-index: 9999999;
    opacity: 0;
    transition: top .4s ease;
    -webkit-transition: top .4s ease;
    -moz-transition: top .4s ease;
    -ms-transition: top .4s ease;
    -o-transition: top .4s ease;
}
.btn-scroll-to-up.active{
    opacity:1;
    top: 90%;
    transition: top .4s ease;
    -webkit-transition: top .4s ease;
    -moz-transition: top .4s ease;
    -ms-transition: top .4s ease;
    -o-transition: top .4s ease;
}
.btn-scroll-to-up:hover{
    color: var(--white);
}
/* -------media start---------------- */


@media (max-width:1120px){
    /* -------navbar start---------------- */
    .navbar-nav {
        
        gap:.5rem;
    }
    header .container>.row .col-lg-5 .content>h1 {
        font-size: 2.3rem;
    }
    /* -------navbar end---------------- */
}
@media (max-width:991px) {
    /* -------navbar start---------------- */
    .title-content{
        width: 100%;
    }
    .title-center{
        width: 80%;
    }
    .title h2{
        font-size: 2rem;
    }
    .navbar{
        padding:1rem;   
    }
    .navbar-brand{
        max-width: 60%;
    }
    .navbar-toggler{
        color: var(--primary-color);
    }

    .navbar-nav .nav-item::after ,.navbar-nav .nav-item::before
    {
        content: unset;
    }
    .navbar-collapse{
        width: 50%;
        height: 100% !important;
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--white);
        padding: 20px;
        overflow-y: scroll;
        z-index: 999;
}
    .collapse:not(.show){
        display: unset;
    }
    .navbar  .navbar-nav {
        gap:1rem;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;
        width: 100%;
        margin-bottom: 2rem;
    }
    .navbar-nav .close-icon{
        background: var(--primary-color);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
    }
    .navbar-nav .close-icon:hover{
        text-decoration: none;
    }
    .navbar-nav .nav-item{
        width: 100%;
        border-bottom: 1px solid #eee;
    }
    .navbar-nav .nav-item .nav-link{
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline;
        color: var(--second-color);
    }
    .navbar-nav .nav-item .nav-link .icon-drop
    {
        color: var(--white) !important;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        z-index: 9999;
        font-size: 14px;
        cursor: pointer;
        background: var(--primary-color);
        border-radius: 3px;
    }
    
    .navbar-nav .nav-item .drop-down-menu {
        position: unset;
        display: none;
        width: 170px;
        background-color:transparent;
        padding: 20px 30px;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
        box-shadow: unset;
        transition:unset;
        -webkit-transition:unset;
        -moz-transition:unset;
        -ms-transition:unset;
        -o-transition:unset;
        transform-origin:unset;
        transform:scaleY(1);
        -webkit-transform:scaleY(1);
        -moz-transform:scaleY(1);
        -ms-transform:scaleY(1);
        -o-transform:scaleY(1);
        opacity: 1;
        visibility: visible;
    }
    .navbar-nav .nav-item .drop-down-menu .drop-item .nav-link
    {
    color: var(--second-color);
    }
    .navbar-nav .nav-item .drop-down-menu.active{
        display: block;
    }
    .navbar .icon-social{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:.5rem;
    }

    .navbar .icon-social a {
        width: 40px;
        height: 40px;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        border-radius: 50%;
        margin-right: 14px;
    }
    /* -------navbar end---------------- */
    /* -------header start---------------- */
    header {
        padding: 6rem 0;

    }
   
    header .container>.row .col-lg-5 .content>h3 {
        font-size: 1.7rem;
        font-weight: 600;
    }
    header .container>.row .col-lg-5 .content>h1 {
        font-size: 2.2rem;
        
    }
    header .container>.row .col-lg-6 .img-box::before{
        
        left: 31%;
      
}

    header .container>.row .col-lg-6 .img-box>.main-img
    {
        transform: scale(1.5)    ;
        -webkit-transform: scale(1.5)    ;
        -moz-transform: scale(1.5)    ;
        -ms-transform: scale(1.5)    ;
        -o-transform: scale(1.5)    ;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-1 {
        width: 47px;
        top: -17px;
        left: 9px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-2 {
        width: 70px;
        position: absolute;
        top: -9px;
        left: 71px;
    }
    header .container>.row .col-lg-6 .img-box>.stand-img {
        width: 134px;
        position: absolute;
        top: 63px;
        left: 2px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-3 {
    right: -40px;
    top: -42px;
    width: 124px;
    
    }

    .counter-up {
    margin-top: -12%;
    }   


    .service .container .row .tab-pane .box-img {
       align-self: center;
    }
    .service .container .row .tab-pane .col-md-6 .content h3{
        font-size:2rem;
        font-weight:700;
        padding:1.3rem 0;
    }
    .service .container .row .nav{
        justify-content:center;
        padding: 0;
    }
    .team .team-item{
        height: 500px;
        
    }
     .tastimonials .tastimonials-item{
        width:80%;
       
    }
    footer .social-icon{
        justify-content:flex-start;
        gap:1rem;
    }
    
    footer .col-lg ul li{
        font-size: .9rem;
        padding: 0;
    }
    footer .col-lg ul li:last-of-type{
        margin-bottom: 1.5rem;
    }
    footer .col-lg ul li i{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        
    }
    footer .footer-top .container .row .col-lg .card{
        margin-bottom: 1rem;
    }
    footer .footer-top .container .row .col-lg .card .row{
        align-items:center;
    }
    footer .footer-top .container .row .col-lg .card .row  .card-body .card-title
    {
        font-size: 2rem;
    }
    footer .footer-top .container .row .col-lg .card .row  .card-body .card-text
    {
        font-size: 1.3rem;
    }
    footer .footer-top .container .row .col-lg form .form-group input{
        width: 60%;
    }
    footer .footer-top .container .row .col-lg form .form-group button
    {
        right: 40%;
    }


}
@media (max-width:768px){
    /* -------navbar start---------------- */
    .navbar{
        padding: 1.5rem 1rem;   
    }
    .navbar .navbar-toggler i {
        font-size: 2rem;
    }
   
    
    /* -------navbar end---------------- */
}

@media (max-width:576px){
    .title-center{
        width: 100%;
    }
    .title-center h2 {
        font-size: 1.4rem;
        font-weight: 700;
        padding: 1.3rem 0;
    }
    /* -------navbar start---------------- */
    
    .navbar-collapse{
        width: 100%;
    }
    /* -------navbar end---------------- */
    header {
        padding: 1rem 0;
    }
    header .container .row .col-lg-5{
        order: 2;
        text-align: center;
      }
    header .container>.row .col-lg-5 .content>h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    header .container>.row .col-lg-5 .content>h1 {
        font-size: 1.5rem;
    }
       header .container .row .col-lg-6{
        order: 1;
        margin-bottom:1.5rem;
    }

    header .container>.row .col-lg-6 .img-box {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    header .container>.row .col-lg-6 .img-box::before {
        bottom: 0;
        left: 35%;
        width: 30%;
        height: 80%;   
    }
   
      header .container>.row .col-lg-6 .img-box>.main-img {
        width: 100%;
        object-fit: cover;
        transform:unset;
        -webkit-transform:unset;
        -moz-transform:unset;
        -ms-transform:unset;
        -o-transform:unset;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-1 {
        width: 30px;
        top: 26px;
        left: 55px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-2 {
        width: 49px;
        position: absolute;
        top: 28px;
        left: 89px;
    }
    header .container>.row .col-lg-6 .img-box>.stand-img {
        width: 81px;
        position: absolute;
        top: 78px;
        left: 52px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-3 {
        right:10%;
        top: 31px;
        width: 65px;
    }
    .Works{
        padding:2rem 0;
    }
    .contact .title-content h2{
        font-size: 1.8rem;
    }
    .counter-up{
        margin-top: -25%;
    }
    .project{
        background-color: #eee;
        padding:2rem 0 1rem ;
    }
    .project .container-fluid .box .box-img {
        width: 100%;
    }
    .project .container-fluid .box .content h4{
        font-size: 1rem
    }

    .tastimonials
    {
        padding: 2rem 0;
    }
    .tastimonials .tastimonials-item{
        width:100%;
       
    }
    .brand{
        padding: 1rem 0;
    }
    footer .footer-top .container .row .col-lg .card .row .card-img
    {
        width: 90%;
        margin: 0 auto;
    }
    footer .footer-top .container .row .col-lg .card .row  .card-body .card-title{
        font-size: 0.9rem;
    }
    footer .footer-top .container .row .col-lg .card .row  .card-body .card-text
    {
        font-size: 0.8rem;

    }
}
/* @media only screen and (max-height: 575.98px) and (orientation: landscape) {
    header {
        padding: 1rem 0;
    }
    header .container .row .col-lg-5{
        order: 2;
        text-align: center;
      }
      header .container>.row .col-lg-5 .content>h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    header .container>.row .col-lg-5 .content>h1 {
        font-size: 1.5rem;
    }
       header .container .row .col-lg-6{
        order: 1;
        margin-bottom:1.5rem;
    }

    header .container>.row .col-lg-6 .img-box {
        position: relative;
        width: 100%;
        
    }
    header .container>.row .col-lg-6 .img-box::before {
        bottom: 0;
        left: 42%;
        width:20%;
        height:68%;
        
}
      header .container>.row .col-lg-6 .img-box>.main-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transform:unset;
        -webkit-transform:unset;
        -moz-transform:unset;
        -ms-transform:unset;
        -o-transform:unset;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-1 {
        width: 45px;
        top: 5px;
        left: 82px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-2 {
        width: 80px;
        position: absolute;
        top: 0px;
        left: 136px;
    }
    header .container>.row .col-lg-6 .img-box>.stand-img {
        width: 116px;
        position: absolute;
        top: 81px;
        left: 82px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-3 {
        right: 10%;
        top: -1px;
        width: 120px;
    }
    } */
@media (max-width:320px)
{ 
    header .container .row .col-lg-6 {
        margin-bottom: 0.5rem;
    }
    header .container>.row .col-lg-6 .img-box::before {
        left: 35%;
        width: 30%;
        height: 80%;
    }
 

    header .container>.row .col-lg-6 .img-box>.plant-img-1 {
        width: 30px;
        top: 26px;
        left: 42px;
    }
    header .container>.row .col-lg-6 .img-box>.plant-img-2 {
        width: 49px;
        position: absolute;
        top: 28px;
        left: 71px;
    }
    header .container>.row .col-lg-6 .img-box>.stand-img {
        width: 70px;
        position: absolute;
        top: 78px;
        left: 43px;
    }
    .about .container-fluid .row .col-lg-6 .content .title>h2{
        font-size: 1.3rem;
        line-height: 1.5;
    }
    .team .team-item{
        height: 400px;
    }
}
